{{- range $secret := .Values.secret }}
{{- if $secret.data -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secret.name }}
  labels:
    {{- include "mgob.labels" . | nindent 4 }}
type: Opaque
data:
  {{- range $name, $value := $secret.data }}
  {{ $name }}: {{ $value | b64enc | quote }}
  {{- end }}
---
{{- end -}}
{{ end }}
